In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sri shankari\desktop\sudhakar\data science\project\luxury buildings\vs\.venv\lib\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sri shankari\desktop\sudhakar\data science\project\luxury buildings\vs\.venv\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sri shankari\desktop\sudhakar\data science\project\luxury buildings\vs\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sri shankari\desktop\sudhakar\data science\project\luxury buildings\vs\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sri shankari\desktop\sudhakar\data science\project\luxury buildings\vs\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sri shankari\desktop\sudhakar\data science\project\luxury buildings\vs\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\sri shankari\desktop\sudhakar\data science\project\luxury buildings\vs\.venv\lib\site-packages (2.0.42)
Requirement already satisfied: greenlet>=1 in c:\users\sri shankari\desktop\sudhakar\data science\project\luxury buildings\vs\.venv\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sri shankari\desktop\sudhakar\data science\project\luxury buildings\vs\.venv\lib\site-packages (from sqlalchemy) (4.14.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
from sqlalchemy import create_engine

In [6]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\sri shankari\desktop\sudhakar\data science\project\luxury buildings\vs\.venv\lib\site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [7]:
url = 'postgresql://postgres:sugana@localhost:5432/LuxHou_Project'

In [8]:
engine = create_engine(url)

In [9]:
lxdata = pd.read_csv('Luxury_Housing_Bangalore.csv')

In [10]:
lxdf = pd.DataFrame(lxdata)
lxdf

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100995,PROP004730,BELLARY ROAD,Project_229,Embassy,8546.0,5Bhk+,11.33081004147843,Secondary,CXO,2024-12-31,8.552797,6.221131,Under construction,NRI Desk,no,7.511827,22,Will buy after possession.
100996,PROP059810,Bellary Road,Project_309,Brigade,3408.0,3bhk,10.829373158307602,Primary,CXO,2024-09-30,6.879269,9.783611,Ready to move,Direct,no,9.851849,26,Agent was not responsive.
100997,PROP065099,HENNUR ROAD,Project_98,RMZ,4691.0,4BHK,11.183303152058548,Primary,NRI,2023-12-31,6.753812,8.383013,Under construction,Broker,no,9.101604,44,Loved the amenities!
100998,PROP093022,rajajinagar,Project_21,Embassy,7435.0,3BHK,10.914156376035923,Secondary,Other,2024-06-30,4.437787,5.756247,Under construction,Broker,yes,8.588551,66,Excellent location!
100999,PROP023826,whitefield,Project_325,L&T Realty,3218.0,4bhk,₹13.27 Cr,Primary,Startup Founder,2023-12-31,7.760416,9.989290,Under construction,Direct,yes,9.917647,58,Loved the amenities!

In [11]:
lxdf.columns

Index(['Property_ID', 'Micro_Market', 'Project_Name', 'Developer_Name',
       'Unit_Size_Sqft', 'Configuration', 'Ticket_Price_Cr',
       'Transaction_Type', 'Buyer_Type', 'Purchase_Quarter',
       'Connectivity_Score', 'Amenity_Score', 'Possession_Status',
       'Sales_Channel', 'NRI_Buyer', 'Locality_Infra_Score',
       'Avg_Traffic_Time_Min', 'Buyer_Comments'],
      dtype='object')

In [12]:
lxdf.describe()

,Unit_Size_Sqft,Connectivity_Score,Amenity_Score,Locality_Infra_Score,Avg_Traffic_Time_Min
count,90954.000000,101000.000000,90910.000000,101000.000000,101000.000000
mean,5972.274765,6.992619,7.503663,7.498426,67.182921
std,1783.397836,1.731757,1.440758,1.443128,30.271611
min,-1.000000,4.000031,5.000224,5.000013,15.000000
25%,4477.250000,5.494526,6.260329,6.247954,41.000000
50%,5990.000000,6.985805,7.499123,7.495614,67.000000
75%,7497.000000,8.490000,8.752207,8.749824,93.000000
max,8999.000000,9.999970,9.999865,9.999956,119.000000

In [13]:
lxdf.describe(include=object)

,Property_ID,Micro_Market,Project_Name,Developer_Name,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Possession_Status,Sales_Channel,NRI_Buyer,Buyer_Comments
count,101000,101000,101000,101000,101000,90981,101000,101000,101000,101000,101000,101000,82713
unique,100000,48,500,11,9,72854,2,5,8,3,4,2,9
top,PROP022002,Jayanagar,Project_27,Prestige,5Bhk+,100.0,Secondary,CXO,2024-03-31,Under construction,Online,no,Great value for money.
freq,2,2176,207,9318,11375,278,50506,20340,12750,33769,25411,50516,9383

In [14]:
lxdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           101000 non-null  object
 1   Micro_Market          101000 non-null  object
 2   Project_Name          101000 non-null  object
 3   Developer_Name        101000 non-null  object
 4   Unit_Size_Sqft        90954 non-null   float64
 5   Configuration         101000 non-null  object
 6   Ticket_Price_Cr       90981 non-null   object
 7   Transaction_Type      101000 non-null  object
 8   Buyer_Type            101000 non-null  object
 9   Purchase_Quarter      101000 non-null  object
 10  Connectivity_Score    101000 non-null  float64
 11  Amenity_Score         90910 non-null   float64
 12  Possession_Status     101000 non-null  object
 13  Sales_Channel         101000 non-null  object
 14  NRI_Buyer             101000 non-null  object
 15  Locality_Infra_Score  101000 non-null  float64
 16  Avg_Traffic_Time_Min  101000 non-null  int64
 17  Buyer_Comments        82713 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 13.9+ MB

In [15]:
lxdf.isnull().sum()

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft          10046
Configuration               0
Ticket_Price_Cr         10019
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score           10090
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

In [16]:
lxdf['Connectivity_Score'].value_counts()

Connectivity_Score
5.625340    2
4.373847    2
4.589104    2
5.261747    2
4.571724    2
           ..
6.666635    1
8.666773    1
8.765275    1
4.281837    1
9.148704    1
Name: count, Length: 100000, dtype: int64

In [17]:
lxdf['Connectivity_Score'] = lxdf['Connectivity_Score'].astype('float64').round(3)
lxdf['Connectivity_Score']

0         7.990
1         4.839
2         8.131
3         7.502
4         4.525
          ...
100995    8.553
100996    6.879
100997    6.754
100998    4.438
100999    7.760
Name: Connectivity_Score, Length: 101000, dtype: float64

In [18]:
lxdf['Purchase_Quarter'].value_counts()

Purchase_Quarter
2024-03-31    12750
2024-09-30    12683
2023-06-30    12655
2023-09-30    12618
2024-06-30    12608
2024-12-31    12595
2023-12-31    12560
2025-03-31    12531
Name: count, dtype: int64

In [19]:
lxdf['Buyer_Comments'].value_counts()

Buyer_Comments
Great value for money.         9383
Too far from my office.        9310
Connectivity is poor.          9302
Excellent location!            9246
Great view from 15th floor.    9183
Loved the amenities!           9114
Agent was not responsive.      9105
Underpriced for location.      9076
Will buy after possession.     8994
Name: count, dtype: int64

In [20]:
lxdf['Ticket_Price_Cr']

0         12.750846039118798
1         16.292151871065954
2         10.517724412961911
3          9.396367494232896
4         15.345392444511946
                 ...
100995     11.33081004147843
100996    10.829373158307602
100997    11.183303152058548
100998    10.914156376035923
100999             ₹13.27 Cr
Name: Ticket_Price_Cr, Length: 101000, dtype: object

In [21]:
lxdf['Ticket_Price_Cr'].unique()

array(['12.750846039118798', '16.292151871065954', '10.517724412961911',
       ..., '13.730178633219271', '10.363988981166342',
       '10.415616832095246'], shape=(72855,), dtype=object)

In [22]:
lxdf['Ticket_Price_Cr'] = (
    lxdf['Ticket_Price_Cr']
    .astype(str)                              # Ensure string
    .str.replace('₹', '', regex=False)        # Remove ₹
    .str.replace('Cr', '', regex=False)       # Remove "Cr"
    .str.strip()                              # Remove spaces
    .astype(float)                            # Convert to float
    .round(2)                                 # Round to 2 decimals
)
lxdf['Ticket_Price_Cr']

0         12.75
1         16.29
2         10.52
3          9.40
4         15.35
          ...
100995    11.33
100996    10.83
100997    11.18
100998    10.91
100999    13.27
Name: Ticket_Price_Cr, Length: 101000, dtype: float64

In [23]:
lxdf['NRI_Buyer'].value_counts()

NRI_Buyer
no     50516
yes    50484
Name: count, dtype: int64

In [24]:
lxdf['Sales_Channel'].value_counts()

Sales_Channel
Online      25411
Broker      25385
NRI Desk    25271
Direct      24933
Name: count, dtype: int64

In [25]:
lxdf['Possession_Status'].value_counts()

Possession_Status
Under construction    33769
Launch                33641
Ready to move         33590
Name: count, dtype: int64

In [26]:
lxdf['Configuration'].value_counts()

Configuration
5Bhk+    11375
3Bhk     11332
5BHK+    11291
3bhk     11262
5bhk+    11210
4bhk     11173
4Bhk     11151
3BHK     11136
4BHK     11070
Name: count, dtype: int64

In [27]:
# Make all text uppercase and remove extra spaces
lxdf['Configuration'] = lxdf['Configuration'].str.strip().str.upper()

# Optional: Add space between number and BHK (e.g., "3BHK" → "3 BHK")
# "Take whatever digit I matched in the first parentheses, then add a space, then add the letters BHK."
lxdf['Configuration'] = lxdf['Configuration'].str.replace(r'(\d)(BHK)', r'\1 BHK', regex=True)

# Check the cleaned counts
print(lxdf['Configuration'].value_counts())

Configuration
5 BHK+    33876
3 BHK     33730
4 BHK     33394
Name: count, dtype: int64

In [28]:
lxdf['Developer_Name'].value_counts()

Developer_Name
Prestige             9318
SNN Raj              9309
Brigade              9240
L&T Realty           9225
Godrej               9215
Total Environment    9209
Puravankara          9166
Embassy              9164
RMZ                  9092
Sobha                9043
Tata Housing         9019
Name: count, dtype: int64

In [29]:
lxdf['Micro_Market'].value_counts()

Micro_Market
Jayanagar            2176
Jp Nagar             2167
Bannerghatta Road    2164
jp nagar             2163
mg road              2160
domlur               2156
sarjapur road        2152
indiranagar          2149
bannerghatta road    2149
SARJAPUR ROAD        2149
WHITEFIELD           2146
Sarjapur Road        2134
jayanagar            2131
bellary road         2122
JAYANAGAR            2120
yelahanka            2119
MG ROAD              2118
Yelahanka            2114
BANNERGHATTA ROAD    2114
JP NAGAR             2111
Electronic City      2110
Kanakapura Road      2108
kanakapura road      2106
hennur road          2105
RAJAJINAGAR          2105
Whitefield           2104
Hebbal               2102
ELECTRONIC CITY      2094
Indiranagar          2093
whitefield           2090
rajajinagar          2087
Rajajinagar          2082
INDIRANAGAR          2081
Hennur Road          2081
HEBBAL               2080
Bellary Road         2080
KANAKAPURA ROAD      2078
BELLARY ROAD         2075
KORAMANGALA          2075
Mg Road              2069
electronic city      2069
DOMLUR               2066
YELAHANKA            2057
hebbal               2053
Koramangala          2043
koramangala          2035
HENNUR ROAD          2030
Domlur               2028
Name: count, dtype: int64

In [30]:
lxdf['Micro_Market'] = lxdf['Micro_Market'].str.strip().str.title()
lxdf['Micro_Market'].value_counts()

Micro_Market
Jp Nagar             6441
Sarjapur Road        6435
Bannerghatta Road    6427
Jayanagar            6427
Mg Road              6347
Whitefield           6340
Indiranagar          6323
Kanakapura Road      6292
Yelahanka            6290
Bellary Road         6277
Rajajinagar          6274
Electronic City      6273
Domlur               6250
Hebbal               6235
Hennur Road          6216
Koramangala          6153
Name: count, dtype: int64

In [31]:
lxdf['Buyer_Type'].value_counts()

Buyer_Type
CXO                20340
NRI                20207
Startup Founder    20185
Other              20149
HNI                20119
Name: count, dtype: int64

In [32]:
lxdf['Transaction_Type'].value_counts()

Transaction_Type
Secondary    50506
Primary      50494
Name: count, dtype: int64

In [33]:
lxdf['Buyer_Comments'].unique()

array(['Loved the amenities!', nan, 'Agent was not responsive.',
       'Excellent location!', 'Too far from my office.',
       'Underpriced for location.', 'Will buy after possession.',
       'Great value for money.', 'Connectivity is poor.',
       'Great view from 15th floor.'], dtype=object)

In [34]:
lxdf['Buyer_Comments'] = lxdf['Buyer_Comments'].fillna('No Comments Provided.')

In [35]:
lxdf['Buyer_Comments'].unique()

array(['Loved the amenities!', 'No Comments Provided.',
       'Agent was not responsive.', 'Excellent location!',
       'Too far from my office.', 'Underpriced for location.',
       'Will buy after possession.', 'Great value for money.',
       'Connectivity is poor.', 'Great view from 15th floor.'],
      dtype=object)

In [36]:
lxdf['Quarter_Number'] = pd.PeriodIndex(lxdf['Purchase_Quarter'], freq='Q').quarter

In [37]:
num_cols = ['Unit_Size_Sqft', 'Ticket_Price_Cr', 'Amenity_Score']

for col in num_cols:
    print(f"\nColumn: {col}")
    print("Skewness:", lxdf[col].skew())
    print(lxdf[col].describe())

Column: Unit_Size_Sqft
Skewness: -0.15771828532966653
count    90954.000000
mean      5972.274765
std       1783.397836
min         -1.000000
25%       4477.250000
50%       5990.000000
75%       7497.000000
max       8999.000000
Name: Unit_Size_Sqft, dtype: float64

Column: Ticket_Price_Cr
Skewness: 8.022821219252853
count    90981.000000
mean        12.718318
std          7.665804
min         -1.420000
25%         10.010000
50%         12.040000
75%         14.090000
max        100.000000
Name: Ticket_Price_Cr, dtype: float64

Column: Amenity_Score
Skewness: 0.0004494468518737933
count    90910.000000
mean         7.503663
std          1.440758
min          5.000224
25%          6.260329
50%          7.499123
75%          8.752207
max          9.999865
Name: Amenity_Score, dtype: float64

In [38]:
lxdf['Amenity_Score'] = (lxdf['Amenity_Score']).fillna(lxdf['Amenity_Score'].mean())
lxdf['Amenity_Score']

0         5.462863
1         7.503663
2         8.669227
3         5.720246
4         8.609649
            ...
100995    6.221131
100996    9.783611
100997    8.383013
100998    5.756247
100999    9.989290
Name: Amenity_Score, Length: 101000, dtype: float64

In [39]:
mean_ft = lxdf['Unit_Size_Sqft'].mean()

In [40]:
lxdf['Unit_Size_Sqft'] = lxdf['Unit_Size_Sqft'].fillna(mean_ft)

In [41]:
lxdf['Unit_Size_Sqft'].isnull().sum()

np.int64(0)

In [42]:
median_tic = lxdf['Ticket_Price_Cr'].median()

In [43]:
lxdf['Ticket_Price_Cr'] = lxdf['Ticket_Price_Cr'].fillna(median_tic)

In [44]:
lxdf['Ticket_Price_Cr'].isnull().sum()

np.int64(0)

In [45]:
lxdf['Price_per_Sqft'] = ((lxdf['Ticket_Price_Cr']*1e7)/lxdf['Unit_Size_Sqft']).round(2)
lxdf['Price_per_Sqft']

0         31677.02
1         28281.25
2         13649.93
3         15180.88
4         21477.54
            ...
100995    13257.66
100996    31778.17
100997    23832.87
100998    14673.84
100999    41236.79
Name: Price_per_Sqft, Length: 101000, dtype: float64

In [46]:
lxdf

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments,Quarter_Number,Price_per_Sqft
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4 BHK,12.75,Primary,NRI,2025-03-31,7.990,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!,1,31677.02
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3 BHK,16.29,Primary,Other,2024-06-30,4.839,7.503663,Under construction,NRI Desk,no,7.723898,106,No Comments Provided.,2,28281.25
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4 BHK,10.52,Primary,HNI,2023-12-31,8.131,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.,4,13649.93
3,PROP000004,Bellary Road,Project_3,Embassy,6192.0,3 BHK,9.40,Primary,HNI,2024-03-31,7.502,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!,1,15180.88
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4 BHK,15.35,Secondary,HNI,2024-12-31,4.525,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.,4,21477.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100995,PROP004730,Bellary Road,Project_229,Embassy,8546.0,5 BHK+,11.33,Secondary,CXO,2024-12-31,8.553,6.221131,Under construction,NRI Desk,no,7.511827,22,Will buy after possession.,4,13257.66
100996,PROP059810,Bellary Road,Project_309,Brigade,3408.0,3 BHK,10.83,Primary,CXO,2024-09-30,6.879,9.783611,Ready to move,Direct,no,9.851849,26,Agent was not responsive.,3,31778.17
100997,PROP065099,Hennur Road,Project_98,RMZ,4691.0,4 BHK,11.18,Primary,NRI,2023-12-31,6.754,8.383013,Under construction,Broker,no,9.101604,44,Loved the amenities!,4,23832.87
100998,PROP093022,Rajajinagar,Project_21,Embassy,7435.0,3 BHK,10.91,Secondary,Other,2024-06-30,4.438,5.756247,Under construction,Broker,yes,8.588551,66,Excellent location!,2,14673.84
100999,PROP023826,Whitefield,Project_325,L&T Realty,3218.0,4 BHK,13.27,Primary,Startup Founder,2023-12-31,7.760,9.989290,Under construction,Direct,yes,9.917647,58,Loved the amenities!,4,41236.79

In [47]:
lxdf['Purchase_Quarter'].unique()

array(['2025-03-31', '2024-06-30', '2023-12-31', '2024-03-31',
       '2024-12-31', '2023-09-30', '2024-09-30', '2023-06-30'],
      dtype=object)

In [48]:
lxdf.isnull().sum()

Property_ID             0
Micro_Market            0
Project_Name            0
Developer_Name          0
Unit_Size_Sqft          0
Configuration           0
Ticket_Price_Cr         0
Transaction_Type        0
Buyer_Type              0
Purchase_Quarter        0
Connectivity_Score      0
Amenity_Score           0
Possession_Status       0
Sales_Channel           0
NRI_Buyer               0
Locality_Infra_Score    0
Avg_Traffic_Time_Min    0
Buyer_Comments          0
Quarter_Number          0
Price_per_Sqft          0
dtype: int64

In [51]:
lxdf.to_sql('lux_hous',engine, if_exists = 'replace', index = False)

1000

QUERIES

In [63]:
q1 = '''SELECT COUNT(*) from lux_hous;'''
count = pd.read_sql(q1,engine)
count

    count
0  101000

In [65]:
q3 = """SELECT "Developer_Name",ROUND(AVG("Ticket_Price_Cr")::numeric,2) AS avg_ticket_price_cr from lux_hous
GROUP BY "Developer_Name"
ORDER BY avg_ticket_price_cr desc
LIMIT 50;"""
avg_tp = pd.read_sql(q3,engine)
avg_tp

       Developer_Name  avg_ticket_price_cr
0               Sobha                12.80
1   Total Environment                12.75
2          L&T Realty                12.71
3              Godrej                12.69
4         Puravankara                12.67
5                 RMZ                12.67
6            Prestige                12.64
7        Tata Housing                12.60
8             SNN Raj                12.55
9             Brigade                12.54
10            Embassy                12.54